
body {
  display: flex;
  flex-direction: row;

  overflow-x: hidden;

  margin: 0;
  font-family: 'Comic Sans MS', cursive;
  color: #000000;
  text-align: center;
  cursor: url("sources/cursor.png"),auto;

  animation: rainbow 1s infinite linear;
}

.Center{
  margin-top: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Sonic {
  position: absolute;
  top: 0;
  left: 45%;
  transition: top 2s ease-in-out, left 2s ease-in-out;

  z-index: 2
}

#Titulo {
  margin-top: 200px;
  font-size: 100px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  perspective: 1000px; 
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;
}

#Titulo:hover {
  transform: rotateY(360deg);
}

#Cita{
  font-size: 55px;
  animation: rainbow-text 4s infinite;
  font-weight: bold;
  border: 5px solid;
  border-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
  border-image-slice: 1;

  background-color: #000000;
}

.publicidad{
  margin: 10px;

  flex-direction: column;
  justify-content: center;


  width: 500px;
  max-height: max-content;

  border: 5px solid;
  border-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
  border-image-slice: 1;
}

#izq {
  background-color: fuchsia;
}

#der {
  background-color: blue;
}

#Elvis{
  animation: rotate 2s infinite linear;

  height: 300px;
  width: 300px;
}

#He-man{
  width: 400px;
  height: 400px;
}

#He-man:hover {
  src: url(/sources/javi-heman.jpeg);
}

#Fart {
  width: 300px;
  height: 300px;
}

.multimedia{
  max-width: 90%;
  max-height: 90%;
}

#BotonJugueton{
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.1s ease;

  z-index: 1;

  font-size: 50px;
  
  padding: 15px 20px;
  margin: 10px;
  background-color: #000fba;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

#BotonJugueton:hover {
  background-color: #2bff00;

  cursor: url("sources/cursor-2.png"),auto;
}

#BotonJugueton:active {
  background-color: #ff0000;
}

#JAVI{
  position: absolute;
  top: 0px;
  left: 0px;
}

#ET {
  transition: transform 0.5s ease; /* Añade una transición suave para cambios de transformación */
}

#ET:hover{
  animation: rotateAndMove 2s forwards; /* Aplica la animación al pasar el ratón y mantiene el último estado */
}

/*====================
Animaciones
======================*/

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateAndMove {
  0% {
    transform: rotate(0deg) translateX(0);
  }
  50% {
    transform: rotate(180deg) translateX(50px);
  }
  100% {
    transform: rotate(360deg) translateX(0);
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rainbow {
  0% {
    background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
  }
  12% {
    background: linear-gradient(to right,red, violet, indigo, blue, green, yellow, orange );
  }
  24% {
    background: linear-gradient(to right,  orange ,red, violet, indigo, blue, green, yellow);
  }
  50% {
    background: linear-gradient(to right, yellow, orange ,red, violet, indigo, blue, green);
  }
  63% {
    background: linear-gradient(to right,green,yellow, orange ,red, violet, indigo, blue, );
  }
  78% {
    background: linear-gradient(to right, blue, green,yellow, orange ,red, violet, indigo);
  }
  89% {
    background: linear-gradient(to right, indigo, blue, green,yellow, orange ,red, violet);
  }
  100% {
    background: linear-gradient(to right, violet, indigo, blue, green,yellow, orange ,red);
  }
}

@keyframes rainbow-text {
  0% { color: red; }
  16.66% { color: orange; }
  33.33% { color: yellow; }
  49.99% { color: green; }
  66.66% { color: blue; }
  83.33% { color: indigo; }
  100% { color: violet; }
}

/* 
https://developer.mozilla.org/es/docs/Web/CSS/CSS_images/Using_CSS_gradients 

https://developer.mozilla.org/es/docs/Web/CSS/CSS_animations/Using_CSS_animations

https://es.stackoverflow.com/questions/442778/c%C3%B3mo-mover-un-bot%C3%B3n-aleatoriamente-con-html-o-css
*/

